dtd/countries.dtd

<!ELEMENT countries (country*)>
<!ELEMENT country (city*,language*)>
<!ELEMENT language (#PCDATA)>
<!ELEMENT city (name,population)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT population (#PCDATA)>
<!ATTLIST country name CDATA #REQUIRED> 
<!ATTLIST country population CDATA #REQUIRED> 
<!ATTLIST country area CDATA #REQUIRED> 
<!ATTLIST language percentage CDATA #REQUIRED> 
